<%= link_to "Início", root_path %> <br>
<%= link_to "Adicionar Novo", new_user_path %>

<h4>Usuários</h4>
<table>
  <thead>
    <th>Nome</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
